{{> header }}
<br />
<br />
<div class="container"
    style="width: 40%; box-sizing:border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 2px solid rgb(202, 237, 255); border-radius: 5px; padding:20px; background-color:rgb(202, 237, 255);">
    <h2 style="text-align: center;">{{ viewTitle }}</h2>
    <form action=" /enrollment" method="POST">
        <input type="hidden" name="_id" value="{{enrollment._id}}" required>

        {{!-- este mensaje validara que el Estudiante Exista --}}
        {{#if message}}
        <div class="alert {{ messageClass }}">
            {{message}}
        </div>
        {{/if}}

        <div class="form-group">
            <label for="studentId">Student ID</label>
            <input type="text" class="form-control" name="studentId" id="studentId" placeholder="Enter Student ID"
                aria-describedby="studentIdHelp" value="{{enrollment.studentId}}" required>
            <small id="studentIdHelp" class="form-text text-muted">Make sure you type the Student ID exactly how it is
                registered in our database.</small>
        </div>
        <div class="form-group">
            <label for="courseId">Course ID</label>
            <input type="text" class="form-control" name="courseId" id="courseId" placeholder="Enter Course ID"
                aria-describedby="courseIdHelp" value="{{enrollment.courseId}}" required>
            <small id="courseIdHelp" class="form-text text-muted">Make sure you type the Course ID exactly how it is
                registered in our database.</small>
        </div>
        <div class="form-group">
            <label for="size">Date</label>
            <input type="date" class="form-control" name="date" id="date" placeholder="Enter Size"
                value="{{enrollment.date}}" required>
        </div>
        <button type="submit" class="btn btn-info">Save</button>
    </form>
</div>