{{> header }}
<h2 style="text-align: center;">{{ viewTitle }}</h2>
<div class="container">
    <form action="/course" method="POST">
                    <input type="hidden" name="_id" value="{{course._id}}" required>
                    <div class="form-group">
                        <label for="courseId">Course ID</label>
                        <input type="text" class="form-control" name="courseId" id="courseId" 
                            placeholder="Enter Course ID" value="{{course.courseId}}">
                    </div>
                    <div class="form-group">
                        <label for="courseName">Course Name</label>
                        <input type="text" class="form-control" name="courseName" id="courseName" 
                            placeholder="Enter Course Name" value="{{course.courseName}}">
                    </div>
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input type="text" class="form-control" name="size" id="size" 
                            placeholder="Enter Size" value="{{course.size}}">
                    </div>
                        
                    <div class="form-group">
                        <label for="teacherId">Teacher ID</label>
                        <input type="text" class="form-control" name="teacherId" id="teacherId" 
                            placeholder="Enter Teacher ID" value="{{course.teacherId}}">
                    </div>
                        
                    <div class="form-group">
                        <label for="textbook">Textbook</label>
                        <input type="text" class="form-control" name="textbook" id="textbook" 
                            placeholder="Enter Textbook" value="{{course.textbook}}">
                    </div>


        <button type="submit" class="btn btn-info">Save</button>
    </form>
</div>